# ignore everything
*
# but directories
!*/

!/.github/**
!/bin/**
!/config/**
!/lib/**
!/schemas/**
!/templates/**

!/.dockerignore
!/.gitignore
!/.rubocop.yml
!/Dockerfile
!/Gemfile
!/Gemfile.lock
!/LICENSE
!/mise.toml
!/README.md
!/zdba.gemspec

/tmp/
