# ignore everything
*
# but directories
!*/

!/.github/workflows/**
!/bin/**
!/config/**
!/lib/**
!/schemas/**
!/templates/**

!/.gitignore
!/.rubocop.yml
!/.tool-versions
!/Dockerfile
!/Dockerfile.dockerignore
!/Dockerfile.release
!/Dockerfile.release.dockerignore
!/Gemfile
!/Gemfile.lock
!/LICENSE
!/mise.toml
!/README.md
!/zdba.gemspec

/tmp/
